<h1>YUM YUM BURGERS</h1>

 <link rel="shortcut icon" href="assets/img/favicon2.ico" type="image/x-icon"/>
 <link rel="icon" href="assets/img/favicon2.ico" type="image/x-icon">
<img src="assets/img/burger.png" alt="Burger" style="width:304px;height:228px;">


<div class="container-fluid">
    <div class="row"><!--Row by itself-->
            

<!--Row by itself-->

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <div id="burger2Try">
      <h2>My Burgers to Try</h2>
        
        <ul>
        {{#each burgers}}
         {{#unless this.devoured}}
        <li>
         {{this.id }}
          {{this.burger_name}}

        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="true">
          <button type="submit" >EAT ME!</button>
        </form>

        {{> burgers/delete-burger}}
        </li>
        {{/unless}}
      {{/each}}
      </ul>
    
    </div>
    </div>


  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
  <div id="addBurger">
    <h2>Add a Burger</h2>

            
    <form class="create-update-form" action="/create" method="POST">

    <div class="form-group">
   {{!--  <label for="ca">Burger Name:</label> --}}
    <textarea type="text" name="burger_name"></textarea>
    {{!-- <input type="text" id="ca" name="name"> --}}
  </div>

  <div class="form-group">
    <label for="devoured"></label><br>
    <input type="radio" name="devoured" value="1" checked> Eaten<br>
    <input type="radio" name="devoured" value="0"> Not eaten yet
  </div>

  <button type="submit" id="submit">Add Burger</button>
  </form>
  </div>
  </div>
            

  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
   <div id="burgersEaten"> <h2>Burgers Eaten</h2>

    <ul>
      {{#each burgers}}
       {{#if this.devoured}}
        <li>
       {{this.id}}
        {{this.burger_name}}

         <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="false">
          <button type="submit" id="submit">Add to My List</button>
        </form>

        {{> burgers/delete-burger}}
        </li>
      {{/if}}
      {{/each}}
    </ul>
  </div>
  </div>

</div>
</div>


